<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>WORK</title>
	<style>
		
	</style>
</head>
<body>
	<form>
		NAME:<input type="text" name="fname" ><br>
		AGE:<input type="number" name="age"><br>
		DATE OF BIRTH : <input type="date" name="dob"><br>
		TIME : <input type="time" name="time"><br>
		SELECT NATIVE : <select>
			<option>JAMMU</option>
			<option>ANDHRA</option>
			<option>KERALA</option>
			<option>TAMILNADU</option>
			<option>BIHAR</option>
		</select>
		<br>
		
		<input type="radio" name="rb" value="HTML">HTML
		<input type="radio" name="r" value="CSS">CSS
		<input type="radio" name="rb" value="JAVASCRIPT">JAVASCRIPT<br>

		SELECT VEHICAL : <input type="checkbox" name="veh1">BIKE
		<input type="checkbox" name="veh2">CAR
		<input type="checkbox" name="veh3">BOAT
		<input type="submit" value="Register"><br>
	</form>
</body>
</html>