<h1>login</h1>

<form action="/login" method="post">
    <input type="text" name="cname" placeholder="citizenname">

    <input type="password" name="password" placeholder="password">
    <button>Login</button>
</form>

<h1>This is home page</h1>

<li><a href="/register">Sign up!!</a></li>
<li><a href="/login">Login</a></li>
<li><a href="/logout">Logout</a></li>