<h1>Signup Form</h1>

<form action="/register" method="post">
    <input type="text" name="cid" placeholder="citizenid">
    <input type="text" name="cname" placeholder="citizenname">

    <input type="text" name="caddress" placeholder="address">
    <input type="password" name="password" placeholder="password">
    <button>Submit</button>
</form>

<h1>This is home page</h1>

<li><a href="/register">Sign up!!</a></li>
<li><a href="/login">Login</a></li>
<li><a href="/logout">Logout</a></li>